[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nameko = "*"
nameko-sqlalchemy = "*"
alembic = "*"
marshmallow = "*"
psycopg2-binary = "*"
nameko-structlog = "*"

[requires]
python_version = "3.8"
