[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nameko = "*"
marshmallow = "*"
nameko-structlog = "*"
nameko-redis = "*"

[requires]
python_version = "3.8"
